.transactionHistory {
  font-size: 14px;
  margin: 40px;
  width: 300px;
}

.transactionHistory th {
  background-color: rgba(192, 192, 192, 1);
  border-radius: 4px;
  padding: 5px;
}

.transactionHistory td {
  background-color: rgba(192, 192, 192, 0.07);
  border-radius: 4px;
  padding-left: 10px;
}

.transactionHistory tr:nth-child(2n) {
  background-color: rgba(192, 192, 192, 0.1);
}
.transactionHistory tr:hover {
  background-color: rgba(192, 192, 192, 0.3);
}
